- @page_title = "UserAuth | Signup"
%div.wrapper
  %div.Sign_Form
    %div.Form_Container
      %h1.form_header SIGN UP
      = form_for(:user, :url => {:controller => 'users', :action => 'create'}) do |f|
        %p.form_label 
          USERNAME
          = f.text_field :username, :class => 'form-control'
        %p.form_label
          EMAIL
          = f.text_field :email, :class => 'form-control'
        %p.form_label
          PASSWORD 
          = f.password_field :password, :class => 'form-control'
        %p.form_label
          PASSWORD CONFIRMATION
          = f.password_field :password_confirmation, :class => 'form-control'
        = f.submit :Signup, :class => 'btn btn-default'
      - if @user and @user.errors.any?
        %ul.Signup_Errors
        - for message_error in @user.errors.full_messages
          %li 
            * 
            = message_error